@media (min-width: 768px) {
    .lead {
      font-size: 14.8px;
    }
  }

p { font-size: 14.8px; }
h1.title { font-size: 24px; font-weight: normal; }
h2.title { font-size: 20px; font-weight: normal; }
div.part { border-top: 1px solid #eee; padding-bottom: 10px; }
div.mume { line-height: 160%; }
span.red { color: red; }
span.blue { color: blue; }
img.pic { padding: 10px 0; width:auto;
  height:auto;
  max-width:100%;
  max-height:100%; }