@media (min-width: 768px) {
    .lead {
      font-size: 14.8px;
    }

    .container {
      max-width: 730px;
    }
  }

body { padding-top: 50px; }

.footer {
    color: #777;
    margin-top: 40px;
    padding: 20px 0;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 12px;
}

p { font-size: 14.8px; }
h1.title { font-size: 24px; font-weight: normal; }
h2.title { font-size: 20px; font-weight: normal; }
div.part { border-top: 1px solid #eee; padding-bottom: 10px; }
div.mume { line-height: 160%; }
span.red { color: red; }
span.blue { color: blue; }
img.pic { padding: 20px 0; width:auto;
  height:auto;
  max-width:100%;
  max-height:100%; }

.row h4 { margin-top: 50px; }

#titlelist a { color: #555; text-decoration: underline; }
#titlelist a:hover { color: #FF0000; text-decoration: underline; }
#titlelist .date { margin-left: 10px; color: gray; font-size: 10px; font-style: italic }


/* Code blocks */
pre[class*="language-"] {
  padding: .8em;
  overflow: auto;
  border: 0px solid #ddd;
  border-radius: 3px;
  background: #f5f5f5;
}


.token.operator,
.token.important,
.token.keyword,
.token.rule,
.token.builtin {
  color: #a71d5d;
}

.token.property,
.token.number,
.token.boolean,
.token.entity,
.token.atrule,
.token.constant,
.token.symbol,
.token.command,
.token.code {
  color: #0086b3;
}


